[submodule "sites/all/modules/comment_buddy_module"]
	path = sites/all/modules/comment_buddy_module
	url = https://github.com/geoff-winner/comment_buddy_module
[submodule "sites/all/modules/sum_module_drupal"]
	path = sites/all/modules/sum_module_drupal
	url = https://github.com/geoff-winner/sum_module_drupal.git
[submodule "sites/all/modules/ping_pong_module"]
	path = sites/all/modules/ping_pong_module
	url = https://github.com/geoff-winner/ping_pong_module.git
[submodule "sites/all/modules/sites/all/modules/greeting"]
	path = sites/all/modules/sites/all/modules/greeting
	url = https://github.com/dianedouglas/greeting.git
[submodule "sites/all/modules/title_case_module"]
	path = sites/all/modules/title_case_module
	url = https://github.com/geoff-winner/title_case_module.git
[submodule "sites/all/modules/queen_attack_module"]
	path = sites/all/modules/queen_attack_module
	url = https://github.com/geoff-winner/queen_attack_module
